*{
    margin: 0;
    padding: 0;
}
.container{
    margin: 0 auto;
    width: 700px;
    height: 400px;
}

.title{
    align-items: center;
    margin: 0 240px;
}
.sub{
    margin: 30px 0 ;
   align-items: center;
}
.sub h2{
    width: 170px;
}
.btn-outline-primary{
    background: #4DA6BA61;
    margin: 30px 0;
}
body{
  background: #80cbec;
}

.list-group{
    width: 710  px;
    margin: 0 430px;
}



